alabaster==0.7.10
appnope==0.1.0
Babel==2.4.0
bibtexparser==0.6.2
bleach==1.5.0
brewer2mpl==1.4.1
clyent==1.2.2
cycler==0.10.0
Cython==0.25.2
decorator==4.0.11
diptest==0.0.0
docutils==0.13.1
entrypoints==0.2.2
html5lib==0.999
imagesize==0.7.1
ipykernel==4.6.1
ipyparallel==6.0.2
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
Jinja2==2.9.6
jsonschema==2.6.0
lxml==3.7.3
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.4
mpld3==0.2
mpmath==0.19
networkx==1.11
notebook==5.0.0
numpy==1.11.3
numpydoc==0.6.0
olefile==0.44
pandas==0.19.2
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.0
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
pymc==2.3.6
pyparsing==2.1.4
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
requests==2.13.0
scikit-learn==0.18.1
scipy==0.19.0
simplegeneric==0.8.1
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.5.4
sphinx-rtd-theme==0.2.4
sympy==1.0
terminado==0.6
testpath==0.3
tornado==4.5.1
tqdm==4.8.4
traitlets==4.3.2
uncertainties==3.0.1
update==0.4.4
wcwidth==0.1.7
widgetsnbextension==2.0.0
xlrd==1.0.0
