test_data/A1-1.csv
test_data/A1-10.csv
test_data/A1-5.csv
test_data/STD-3.csv
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/.qmake.stash
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/latools.o
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/main.o
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/Makefile
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/moc_latools.cpp
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/moc_latools.o
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/ui_latools.h
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/latools.app/Contents/Info.plist
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/latools.app/Contents/PkgInfo
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/latools.app/Contents/MacOS/latools
ui/build-latools-Desktop_Qt_5_5_1_clang_64bit-Debug/latools.app/Contents/Resources/empty.lproj
latools.pro.user
Outliner.graffle
docs/build
latools.egg-info
*.ipynb
comparison/jenn_data
comparison
Training
test_data
latools/__pycache__
latools2.sublime-workspace
latools2.sublime-project
latools_demo
latools/widgets
__pycache__
latools/controller
demo_helpers.py
build
installation_test
dataformats
bughunting
docs
docs_source
petrology_test
