test_data/*
latools.pro.user
latools.egg-info
./*.ipynb
comparison/*
Training
*__pycache__*
latools_demo
demo_helpers.py
build
installation_test
dataformats
bughunting
petrology_test
data
*sublime*
*.bkup
*docs_source*
.vscode
.eggs/*
.cache/*
*.ipynb_checkpoints
support/*
./*.ipynb
Supplement/fossil_foram_manual.ipynb
dev*.ipynb
Supplement/raw_data/*/*/*.pdf
Supplement/raw_data/*/*.p*
dev*