test_data/A1-1.csv
test_data/A1-10.csv
test_data/A1-5.csv
test_data/STD-3.csv
latools.pro.user
latools.egg-info
./*.ipynb
comparison/*
Training
*__pycache__*
latools_demo
demo_helpers.py
build
installation_test
dataformats
bughunting
petrology_test
data
*sublime*
*.bkup
*docs_source*
.vscode
.eggs/*
.cache/*
*.ipynb_checkpoints
support/*
./*.ipynb
Supplement/fossil_foram_manual.ipynb
